
    <fieldset>
        <legend>New User</legend>
    
      <%= form_for @user do |f| %>
        <label>First Name: <%= f.text_field :first_name, class: 'form-control', autofocus: true, placeholder: 'First Name' %> </label>
        <label>Last Name <%= f.text_field :last_name, class: 'form-control', autofocus: true, placeholder: 'Last Name' %></label>
        <label>Email: <%= f.text_field :email, class: 'form-control', autofocus: true, placeholder: 'your email address' %></label>
        <label>Password: <%= f.password_field :password, class: 'form-control', autofocus: true, placeholder: 'password' %></label>
        <%= f.submit "Join the fun!", class: "button round" %>
      <% end %>
    </fieldset>

		
			
		