
 
 
  <div class="row">
 
    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/Aladdin.png"%>
          <p class ="text-center">Aladin</p>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/alice.png"%>
      </div>
    </div>

	<div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/anna.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/ariel.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/attaant.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/Aurora.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/baloo.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/Beast_pin copy.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/belle.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/bobbafett.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/bolt.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/boo.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/brerfox.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/brierrabbit.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/buzz.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/captainhook.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/chewy.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/chipndale.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/Cinderella.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/corella.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/daisy.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/darthvadar.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/donald.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/eeyore.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/elastagirl.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/elsa2.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/fairygodmother.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/fawn.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/flick.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/frozone.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/gaston.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/genie.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/gepetto.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/goofy.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/greenarmymen.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/handyman.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/iridessa.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/jafar.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/jesse copy.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/jimminni.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/launchpad.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/madhatter.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/Maleficent-to-Dragon_transformation_pin.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/marypoppins.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/max copy.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/meg.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/merida.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/mickey.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/minnie.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/mrincredible.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/mrsmee.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/mulan.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/peterpan.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/piglet.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/pinoccio.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/pluto.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/pooh.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/princeeric.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/queenofhearts.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/r2d2.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/rabbit.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/rafiki.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/repunzel.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/rosetta.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/santa.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/scrooge.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/sevendwarfs.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/silvermist.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/snowwhite.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/snowwhitequeen.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/stormtrooper.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/sully.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/tigger.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/timon.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/tink.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/whiterabbit.png"%>
      </div>
    </div>

    <div class="large-3 columns small-6 columns">
      <div class="panel">
          <%= image_tag "badges/woody.png"%>
      </div>
    </div>



 
  </div>
 
 
  
 
  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
