 <div class="row">
  <div class="large-12 columns">
  <img src="http://placehold.it/970x200&text=Logo">
</div>
  <div class="large-12 columns">
 
          <div class="hide-for-small panel">
            <h3>Header</h3>
            <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
            </h5>
          </div>
        </div>
    <div class="large-12 columns">
 
      <div class="row">
 
        <div class="large-12 columns">
          <div class="row">
            <% @pictures.each do |p| %>
            <div class="large-3 medium-4 small-6 columns">
                <tr>
                  <td><%= image_tag p.image(:medium) %></td>
                  <td><%= p.caption %></td>
                  <td><%= p.date%></td>
                  <td><label>Lat:</label><%= p.latitude%></td>
                  <td><label>Long:</label><%= p.longitude%></td>
                  <td><%= link_to 'Delete',p, method: :delete%></td>
                </tr>

            </div>
            <% end %>
          </div>
 
     
          <div class="row">
            <div class="large-12 columns">
              <div class="panel">
                <div class="row">
 
                  <div class="large-2 small-6 columns">
                    <img src="http://placehold.it/300x300&text=Site Owner">
                  </div>
 
                  <div class="large-10 small-6 columns">
                    <strong>This Site Is Managed By<hr/></strong>
 
                    Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis
                  </div>
 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
 
     
 
      <footer class="row">
        <div class="large-12 columns"><hr/>
          <div class="row">
 
            <div class="large-6 columns">
              <p>© Copyright no one at all. Go to town.</p>
            </div>
 
            <div class="large-6 columns">
              <ul class="inline-list right">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
              </ul>
            </div>
 
          </div>
        </div>
      </footer>
 
     
 
    </div>
  </div>


<!-- <h1>How did they earn the badges???</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Caption</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |p| %>
      <tr>
        <td><%= image_tag p.image(:medium) %></td>
        <td><%= p.caption %></td>
        <td><%= p.date%></td>
        <td><label>Lat:</label><%= p.latitude%></td>
        <td><label>Long:</label><%= p.longitude%></td>
        <td><%= link_to 'Delete',p, method: :delete%></td>
      </tr>
    <% end %>
  </tbody>
</table> -->





